@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[58px];
    @apply font-bold;
  }
  h2 {
    @apply text-[40px];
    @apply text-[#252B42];
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply text-[#252B42];
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
    @apply text-papayas-textgray;
    @apply font-bold;
  }
  a {
    @apply text-sm;
    @apply font-bold;
  }
  li{
    @apply text-sm;
    @apply text-papayas-textgray;
    @apply font-bold;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


